.centredtext{
	text-align: center;
}
.pagebanner{
	width: 100%;
	text-align: center;
	background-color: #455472;
	color: white;
	padding: 0px;
}
.pagebanner2{
	width: 100%;
	background-color:  #455472; 
	color: white;
	padding: 10px;
}
.topbit{
}
.bottombit{
	width: 100%;
	background-color:  #455472;
	text-align: center;
	position: fixed;
	padding: 0px;
	bottom: 0;
}
.contentcontainer{
	max-width: 500px;
	text-align: center;
	background-color: #FFFFFF;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 3px #888;
	padding: 10px;
	color: #222222;
}
.homedialogue{
	width: 90%;
	text-align: left;
	font-style: italic;
	margin: auto;
	color: #444;
}
.dialogue{
	width: 90%;
	text-align: left;
	font-style: italic;
	margin: auto;
	color: #ababab;
}
.error {
	color: red;
	margin: 20px;
}
.mapcontentcontainer{
	width: 1000px;
	margin: auto;
	/*margin-top: 	0px;
	margin-bottom: 20px;*/
	display: table;
	padding:1em;
}
.mapdialogue{
	width: 150px;
	height: 400px;
	margin-right:2em;
	display: table-cell;
	background-color: #455472;
	border-radius: 0px;
	text-align: center;
	color: white;
	padding:5px;
}

.spacy{
	display: table-cell;
}
.mapcontainer {
	display: table-cell;
}
.mappy{
	width: 100%;
	height: 400px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #E8E8E8;

}
.mappy2{
	height: 410px;
	width: 100%;
	padding: 0;
}
.LHS {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 5px;
	width: auto;
	max-width: 150px;
	overflow:visible;
	min-height: 400px;
	text-align: center;
	opacity: .95;
	border: 1px solid #aaaaaa;
	background-color: #ffffff;
}
.RHS {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px;
	width: auto;
	max-width: 80%;
	overflow:visible;
	min-height: 400px;
	text-align: right;
	border: 1px solid #aaaaaa;
	background-color: #ffffff;
}
.arrowleft {
	position: absolute;
	top: 200px;
	right: -8px;
	width: 0px;
	overflow:visible;
}
.arrowright {
	position: absolute;
	top: 200px;
	left: -20px;
	width: 0px;
	overflow:visible;
}

div[class^='arrow'] img{
	border: 1px solid rebeccapurple;
	opacity: 1.0;
}

.lat-long {
	padding: 2px;
	background-color: white;
	margin-bottom: 20px;
}
.formtext{
	padding: 2px;
	margin-bottom: 4px;
}
#asubmit{
	text-decoration: none;
	color:#767542;
}
button#shbutton {
    border: none;
    text-align: center;
	background-color: white;
	color: midnightblue;
	font-style: italic;
	font-size: small;
}

button#shbutton:focus {
	outline: none;
}

.form {
	border-radius: 10px;
	padding: 20px;
	background-color: #CCF;
}

.form-control {
	margin-right: 0px !important;
	height: auto !important;
	width: auto !important;
}

.data {
	background-color: #FFF;
	padding-bottom: 10px;
	box-shadow: 0px 0px 3px #888;
	border-radius: 5px;
}

body {
	background-color: #faFaFa;
	font-family: 'Lato',Arial,sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #636b7b;
    margin:0px;
}

h1 {
	margin-top: 0px;
	font-size: 2.4em;
	font-weight: 300;
}
h3 {
	margin-top: 0px;
	font-size: 1.4em;
	font-weight: 300;
}

.question {
	font-weight: bold;
}
.darkbg {
        color: ivory;
	background-color: #455472;
}
.darkbg a {
        color: ivory;
	text-decoration: none;
}
nav  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #455472;
}
nav li:first-child{
	float: left;
}
nav li {
	float: right;
}


nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}
.navnotli {
	padding: 8px 16px;
}

nav li a:hover:not(.navactive) {
	background-color: #404864;
}

.navactive {
	background-color: #540060;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.uq_purple{
    color: #540060;
}
.uq-emerald {
	background-color: #39892f;
	color: #fff;
	border: 1px solid #1d5b16;
	text-shadow: 0 1px 1px #1d5b16;
	background-image: -moz-linear-gradient(top, #39892f, #276c1f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#39892f), to(#276c1f));
	background-image: -webkit-linear-gradient(top, #39892f, #276c1f);
	background-image: -o-linear-gradient(top, #39892f, #276c1f);
	background-image: linear-gradient(to bottom, #39892f, #276c1f);
}

.uq-emerald:hover {
	background: #276c1f none;
}

.uq-emerald:focus {
	box-shadow: 0 0 5px #39892f, 0 1px 0 rgba(255, 255, 255, .5) inset;
}
.icon {
	margin:5px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: ghostwhite;
	padding: 2px;
	box-shadow: 2px 2px grey;
	z-index: 10;
	visibility: hidden;
}
.icon2 {
	padding:5px 2px;
}
.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}
/*table of lat long stuff*/
.rTC{
	padding-left: 5px;
	font-size: 75%;
}
.rTC img{
	vertical-align:middle
}
.rTCn {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 75%;
	font-weight: bold;
    color: #363636;
	text-align: center;
	border-radius: 50px;
}