/* POPUP stuff from W3schools */
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/* end POPUP stuff from W3schools */

#alertdiv{
    width: 10%;
    text-align: center;
    background-color: #fefefe;
    position:absolute;
    top:160px;
    left:160px;
    z-index: 20;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #7e7e7e;
}

.alertcard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.alertcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.alertimage {
   padding: 2px 1em;
}

/* Add some padding inside the card container */
.alertcontainer {
    background-color: #540060;
    color: white;
    padding: 2px 16px;
}
/*end card stuff from W3schools*/